.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--color-border);
  border-radius: 30px;
  transition: 0.3s;
}

.theme-switch .slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background: var(--color-primary);
  border-radius: 50%;
  transition: 0.3s;
}

/* Po zaznaczeniu */
.theme-switch input:checked + .slider {
  background: #fff;
}

.theme-switch input:checked + .slider:before {
  transform: translateX(24px);
}
