footer {
  background-color: var(--color-primary);
  padding: 16px 32px;
  margin-top: 64px;
  color: var(--color-text-on-primary);
  text-align: center;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 768px) {
  footer {
    margin-top: 32px;
  }
}
