@import url('./theme.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-secondary);
  font-family: 'Roboto';
  height: 100%;
}

section {
  width: auto;
  border-radius: 12px;
}

article {
  border-radius: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-primary);
  letter-spacing: 1.1px;
}

#root {
  height: 100%;
  margin: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

section {
  background-color: var(--color-surface);
  padding: 16px 32px;
  border: 1px solid var(--color-border);
}

@media (max-width: 768px) {
  section {
    padding: 16px 8px;
  }
}

h1,
h2 {
  border-bottom: 4px solid var(--color-border);
  padding-bottom: 4px;
}

header,
button {
  color: var(--color-text-on-primary);
}

button {
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  font-size: 1rem;
  border-radius: 8px;
  color: var(--color-text-on-primary);
  font-weight: 600;
  transition: 0.2s ease;
}

button:hover {
  background-color: var(--color-primary-hover);
}

a {
  color: inherit;
  text-decoration: none;
}

.Toastify {
  background: none;
  padding: 0;
  border: none;
}
