@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./colors.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, var(--background), var(--surface));
  min-height: 100vh;
  color: var(--text-primary);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
